@charset "UTF-8";
/* CSS Document */
.scroll {
  width: 100%;
  height: auto;
  overflow-y: scroll;
}
.scroll2 {
  margin-top: 20px;
  width: 100%;
	table-layout: auto;
  height: auto;
}

